.box {}

.login {
  margin-top: 5%;
  margin-right: 0%;
}

.row {
  margin-top: 7%;
}

.row label {
  margin-top: 5%;
}

.row button {
  margin-top: 10%;
}

.barcolor{
   
}
a{
   color:black;
}

body{ 
/*background-image: url("../../assets/giphy.gif");
*/

 }
#img{
   /* background-image: url("../../assets/giphy.gif");
    background-size: cover;*/
    /* margin-right: 10px;*/
     }

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}



