<nav class="navbar navbar-toggleable-md navbar-dark bg-faded barcolor sticky-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#" >Mailer</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
        <button type="submit" class="btn btn-primary" [routerLink]="'/login'">Login</button>
                 
     </div>

</nav>
<div class="container">
  <div class="span3">
  <div class="row">
  <div class="col-md-7">
  <div class="row">
     <h1 class="display1">Investment Banking Services</h1>
     </div> 
     </div>
     <div class="col-md-1">
     </div>
      <div class="col-md-4">
        <h2>Set Your New Password</h2>
        <form [formGroup]="form" #formDir="ngForm">
          <div [hidden]="formDir.submitted">
            <div class="form-group">



              <div class="row">
                <label>Password</label>
                <input id="pwd" type="password" class="form-control" name="pwd" value="" placeholder="Password" formControlName="pwd" required #resetpwd>
                <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="alert alert-danger">
                  <div *ngIf="pwd.errors.required">
                    Password is required.
                  </div>
                  <div *ngIf="pwd.errors.minlength">
                    Password must be 8 characters long .
                  </div>
                  <div *ngIf="pwd.errors.maxlength">
                    Password must be 8 characters long .
                  </div>
                  </div>
              </div>


                <div class="row">
                <label>Confirm Password</label>
                <input id="cpwd" type="password" class="form-control" name="cpwd" value="" placeholder="Password" formControlName="cpwd" required>
                <div *ngIf="cpwd.invalid && (cpwd.dirty || cpwd.touched)" class="alert alert-danger">
                  <div *ngIf="cpwd.errors.required">
                    Password is required.
                  </div>
                  <div *ngIf="cpwd.errors.minlength">
                    Password must be 8 characters long .
                  </div>
                  <div *ngIf="cpwd.errors.maxlength">
                    Password must be 8 characters long .
                  </div>
                   <div *ngIf="cpwd!=pwd">
                    Passwords donot match.
                  </div>
                </div>
              </div>


            </div>
          </div>
        </form>
        <div class="row">
          <button type="submit" class="btn btn-primary" [routerLink]="'/login'" [disabled]="form.invalid" (click)="reset(resetpwd.value)">Generate New Password</button>
        </div>
      </div>
    </div>
  </div>
</div>

