<body>
  <nav class="navbar navbar-toggleable-md navbar-dark bg-faded barcolor sticky-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Mailer</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <button type="submit" class="btn btn-primary" [routerLink]="'/register'">Register</button>
    </div>
  </nav>
  <div class="container">
    <div class="span3">
      <div class="row">
        <div class="col-md-7" id="img">
          <div class="row">
            <h1 class="display1">Investment Banking Services</h1>
          </div>
         <div class="row">
           <img src="../../assets/giphy.gif" width="100%" height="100%">
          </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
          <h2>Sign In</h2>
          <form [formGroup]="form" #formDir="ngForm">
            <div [hidden]="formDir.submitted">
              <div class="form-group">
                <div class="row">
                  <label>Email Id </label>
                  <input id="email" type="email" class="form-control" name="email" value="" placeholder="Email Address" formControlName="email" required [(ngModel)]="emailID">
                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                      Email is required.
                    </div>
                    <div *ngIf="email.errors.pattern">
                      Email must contain @.
                    </div>
                    <div *ngIf="email.errors.minlength">
                      Email must be at least 4 characters long.
                    </div>
                  </div>
                </div>
                <div class="row">
                  <label>Password</label>
                  <input id="pwd" type="password" class="form-control" name="pwd" value="" placeholder="Password" formControlName="pwd" required [(ngModel)]="password">
                  <div *ngIf="pwd.invalid && (pwd.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf="pwd.errors.required">
                      Password is required.
                    </div>
                    <div *ngIf="pwd.errors.minlength">
                      Password can't be so small.
                    </div>
                  </div>
                </div>
                <div class="row">
                  <a href="/forget" style="color: blue">Forgot Password</a>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="checkUser(emailID,password)">Login</button>
          </div>
          <!-- <div class="row">
            New User?
            <a [routerLink]="'/register'" style="color: blue">Register Now</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</body>
