<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-8 marg">
      <div class="container">
        <form [formGroup]="pwdInfo" novalidate>
          <div class="form-group">
            <label class="center-block">{{config.updatepassword.CURRENT_PASSWORD}}
              <input type="password" class="form-control" formControlName="currentPwd">
            </label>
          </div>
          <div class="form-group">
            <label class="center-block">{{config.updatepassword.NEW_PASSWORD}}
              <input type="password" class="form-control" formControlName="newPwd">
            </label>
          </div>
          <div class="form-group">
            <label class="center-block">{{config.updatepassword.CONFIRM_PASSWORD}}
              <input type="password" class="form-control" formControlName="confirmPwd">
            </label>
          </div>
          <div class="form-group">
            <input class="form-control" formControlName="email" hidden>
          </div>
          <button (click)="updatePwdInfo(pwdInfo,pwdInfo.get('email').value)">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
