<form [formGroup]="pwdInfo" novalidate>
  <div class="form-group">
    <label class="center-block">Current Password:
  <input type="password" class="form-control" formControlName="currentPwd">
</label> 
  </div>
  <div class="form-group">
    <label class="center-block">New Password:
  <input type="password" class="form-control" formControlName="newPwd" >
</label> 
  </div>
  <div class="form-group">
    <label class="center-block"> Confirm Password:
  <input type="password" class="form-control" formControlName="confirmPwd">
</label> 
  </div>
 <div class="form-group">
  <input class="form-control" formControlName="email" hidden> 
  </div>
  <button (click)="updatePwdInfo(pwdInfo,pwdInfo.get('email').value)">{{config.settings.SAVE}}</button>
</form>

