/* for dashboard content */

.marg {
  margin-left: 17%;
  margin-top: 7%;
}



/**
 *  width
 */

.drop {
  width: 200px !important;
}



/**
 * text styling
 */

.text {
  color: white;
  font-weight: bold;
  background-color: black;
}


/**
 * list
 */

.list li {
  float: left;
  margin-left: 10px;
}


/**
 * list 
 */

.list {
  list-style: none;
}
