/* for dashboard content */
.color {
	background-color: red;
}
.marg {
  margin-left:7%;
  
}

.drop{
	width: 200px !important;
}

.text {
	color: white;
	font-weight:bold;
	background-color: black;
}

.list li{
	float: left;
	margin-left:10px;
}

.list{
  list-style: none;
}

.img {
  width: 100%;
}

.card-data{
  background-color:white;
  margin-left: 3%;

}
.fa {
  margin-right: 1%;
}