<!--     Fonts and icons     -->
<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <!--Conatiner for Sidebar -->
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <!--Conatiner for Details -->
    <div class="col-md-6">
      <div class="d-flex d-md-block flex-nowrap wrapper">
        <div class="float-left col px-5 pl-md-2 pt-2 main">
          <br>
          <div class="col-md-6">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" [routerLink]="'/currency'">Currency</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'/nasdaq'">Nasdaq</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'/funds'">Funds</a>
              </li>
            </ul>
          </div>
          <br>
          <div class="card text-white mb-3 cardStyle" *ngFor="let post of list">
            <div class="card-body">
              <h6 class="text-uppercase"><b>{{post.Time}}</b></h6>
              <p class="h4 text-uppercase"><b>{{post.Headline}}</b></p>
              <p class="h7">{{post.News}}</p>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Conatiner for Tweetes -->
    <div class="col-md-4">
      DATA
    </div>
  </div>
</div>
