<!--     Fonts and icons     -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
<!-- navbar added -->
<!-- navbar started -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand title" href="#">{{config.dashboard.PERSONALISED_MAILER}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <!-- navbar elements -->
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link dash" [routerLink]="'/dashboard'">{{config.dashboard.DASHBOARD}} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<!-- navbar ends-->
<div class="container-fluid" style="margin-top: 55px;">
  <div class="row">
    <!--Conatiner for Sidebar -->
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <!--Conatiner for Details -->
    <div class="col-md-6">
      <div class="d-flex d-md-block flex-nowrap wrapper">
        <div class="float-left col px-5 pl-md-2 pt-2 main">
          <br>
          <div class="col-md-12">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" [routerLink]="'/currency'">Currency</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'/nasdaq'">Nasdaq</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'/funds'">Funds</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'/tweet'">Twit</a>
              </li>
            </ul>
          </div>
          <br>
          <div>
            <select #selectedname class="drop">
              <option [value]="post.Code" *ngFor="let post of nasdaqcode">
                {{post.Company}}
              </option>
            </select>
          </div>
          <br> &nbsp;
          <button id="search" (click)="search(selectedname.value)" class="btn btn-outline-primary" type="button"> {{config.dashboard.SEARCH}}</button>
          <div class="jumbotron marg container text" *ngFor="let data of stockprice">
            <div class="row">
              <div class="col-md-8">
                <p>{{data.closeAt}}</p>
                <h1>{{data.Price}}</h1>
                <h4>{{data.upDown}}</h4>
                <p>{{data.hours}}</p>
              </div>
            </div>
            <ul class="list">
              <li>
                <h4>{{data.hPrice}}</h4>
              </li>
              <li>
                <p>{{data.hupdown}}</p>
              </li>
            </ul>
          </div>
        </div>
        <b><p class="h4">{{header}}</p></b>
        <hr>
        <div *ngFor="let data of stocknews">
          <div class="card text-white mb-3" style="background-color: #80cbc4;" *ngIf=data.news>
            <div class="card-body">
              <p class ="h7" style="color: #333">{{data.news}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--Conatiner for Tweetes -->
    <div class="col-md-4"  style="margin-top: 15%">
      <div class="card text-white mb-3" style="background-color: #e0f2f1;" *ngFor="let data of investmentProductuser">
        <div class="card-body">
          <h6 style="color: #333">{{data.text}}</h6>
        </div>
      </div>
    </div>
    </div>
</div>
