/* for dashboard content */

.marg {
  margin-left:7%;
  margin-top: 7%;
}

.drop{
	width: 200px !important;
}

.text {
	color: black;
	font-weight:bold;
	background-color: #e0e0e0;

}

.list li{
	float: left;
	margin-left:10px;
}

.list{
  list-style: none;
}