<form [formGroup]="userInfo" novalidate>
  <div class="form-group">
    <label class="center-block">Name:
  <input class="form-control" formControlName="name">
</label> 
  </div>
  <div class="form-group">
    <label class="center-block">Email:
  <input class="form-control" formControlName="email" readonly>
</label> 
  </div>
  <div class="form-group">
    <label class="center-block"> Add Alternate Email:
  <input class="form-control" formControlName="alternateEmail">
</label> 
  </div>
  <div class="form-group">
    <label class="center-block">Mobile:
  <input class="form-control" formControlName="mobile">
</label> 

  </div>
  <button (click)="updateUserInfo(userInfo,userInfo.get('email').value)">{{config.settings.SAVE}}</button>
  <button (click)="howConfirm()">{{config.settings.PREFERENCE}}</button>
</form>

<a [routerLink]="'/updatePassword'">Update Password</a>

