<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-8 marg">
      <form [formGroup]="userInfo" novalidate>
        <div class="form-group">
          <label class="center-block">{{config.settings.NAME}}
            <input class="form-control" formControlName="name">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">{{config.settings.EMAIL}}
            <input class="form-control" formControlName="email" readonly>
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">{{config.settings.ALTERNATE_EMAIL}}
            <input class="form-control" formControlName="alternateEmail">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">{{config.settings.MOBILE}}
            <input class="form-control" formControlName="mobile">
          </label>
        </div>
        <button (click)="updateUserInfo(userInfo,userInfo.get('email').value)">{{config.settings.SAVE}}</button>
          <button (click)="showConfirm()">{{config.settings.PREFERENCE}}</button>
      </form>
      <a [routerLink]="'/updatePassword'">Update Password</a>
    </div>
  </div>
</div>
